/* Variables */


.visually-hidden {
  display: none;
  position: absolute;
  clip: rect (0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Не пойму, как подключить селектор/класс visually-hidden. Я задала здесь в CSS селектор (по инструкции отсюда https://htmlacademy.ru/blog/boost/frontend/short-12), но на сайте этот класс не работает, элементы не скрылысь.  */

:root {
  --basic-black: #000000;
  --basic-dark-text: #283136;
  --text-header-grey: #666666;
  --dark-grey: #4D4D4D;
  --another-grey: #DBDBDB;
  --one-more-grey: #D5D5D5;
  --pale-grey: #444444;
  --border-light-grey: #D7DCDE;
  --border-dark-grey: #B4B9BB --grey-header-background: #A6A6A6;
  --light-grey-background: #EEEEEE;
  --light-grey-socialmedia: linear-gradient(0deg, #E1E1E1, #E1E1E1), #FFFFFF;
  --basic-white: #FFFFFF;

  --red-light: #FB565A;
  --red-medium: #E74246;
  --red-dark: #D7373B;
  --green-link: #00CA74;
  --green-hover: #00BC6C;
  --green-active: #00AA62;
  --yellow-link: #EFC84A;
  --yellow-hover: #EAB534;
  --yellow-active: #E5A722;
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: var(--basic-dark-text);
  text-transform: none;
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}


.logo-header:link,
.logo-header:hover {
  color: var(--basic-black);
}

.logo-header:active {
  color: var(--grey-header-background);
}

.main-navigation {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  align-items: center;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: transparent;
}

.site-navigation {
  list-style: none;
}

.site-navigation-item,
.user-navigation {
  color: var (--basic-black)
}

.site-navigation-item:hover,
.user-navigation:hover {
  color: var(--red-light)
}

.site-navigation-item:active,
.user-navigation:active {
  color: var(--basic-black) mix-blend-mode: normal;
  opacity: 0.3;
}

.site-navigation-item: ???,
.user-navigation: ???
/* Тут у меня два затыка: 1) не нашла в материалах, как обозначить состояние ссылки, когда соответствующая страница открыта? Это же не active (когда мы в моменте нажатия), а ужечто-то другое?
2) как задать красную полоску. В макете она как бы нарисована на определенном расстоянии от ссылки. Ты, кажется, упоминал, что это будет проще, чем вставлять картинку... */

.user-navigation {
  background-color: var(--grey-header-background)
}

.header-zone,
.slider {
  background-color: var (--light-grey-background)
}

/* Здесь есть проблема: указанный фон задан и шапке, и диву со слайдерами. Причем он выходит за их преледы, заливая всю страницу. Я не поняла, как этого добиться в разметке: разве можно объединять <header> и часть <main>? Кажется, нельзя, ведь тогда я нарушу правило вкладываемости тегов. Что делать?*/

.slide-title {
  color: var(--basic-black);
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  align-items: center;
}

.slides {
  list-style: none;
}

.button {
  color: var(--basic-white);
  background-color: var(--red-light);
}

.button.slide-button {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--red-light);
  /*А как задать ширину и высоту самой кнопок? Или это будет на следующих этапах, а сейчас только параметры шрифта и цвет фона? */
}

.button.slide-button:link {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--red-light);
}

.button.slide-button:hover {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--red-medium);
}

.button.slide-button:active {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  opacity: 0.3;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--red-dark);
}

.slider-white-buttons {
  color: var(--basic-white)
}

.product-types {
  list-style: none;
}

.product-types-titles {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black)
}

.button.button-red:link {
  color: var(--basic-white);
  background-color: var(--red-light);
}

.button.button-red:hover {
  color: var(--basic-white);
  background-color: var(--red-medium);
}

.button.button-red:active {
  color: var(--basic-white);
  opacity: 0.3;
  background-color: var(--red-dark);
}


.button.button-green:link {
  color: var(--basic-white);
  background-color: var(--green-link);
}

.button.button-green:hover {
  color: var(--basic-white);
  background-color: var(--green-hover);
}

.button.button-green:active {
  color: var(--basic-white);
  opacity: 0.3;
  background-color: var(--green-active);
}

.button.button-yellow:link {
  color: var(--basic-white);
  background-color: var(--yellow-link);
}

.button.button-yellow:hover {
  color: var(--basic-white);
  background-color: var(--yellow-hover);
}

.button.button-yellow:active {
  color: var(--basic-white);
  opacity: 0.3;
  background-color: var(--yellow-active);
}

.studio-credo {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-black)
}

.studio-gives {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.studio-gives.studio-gives-black {
  color: var(--basic-black);
}

.work-types {
  list-style: none;
}

/* Красные полоски я, видимо, на более позднем этапе сверщу?*/

.work-bonuses {
  list-style: none;
}

.guarantee-numbers {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  color: var(--basic-black);
}

.guarantee-sup {
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
  color: var(--basic-black);
}

.guarantee-words {
  line-height: 18px;
}

.partner-logos {
  list-style: none;
}

.partner-logo:link {
  opacity: 0.2;
}

.partner-logo:active {
  opacity: 0.1;
}

.page-subtitle {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  align-items: center;
  text-transform: uppercase;
  color: var(--basic-black);
}

.address-block {
  font-size: 16px;
  line-height: 18px;
  align-items: center;
  color: var(--text-header-grey);
}

.write-us {
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
  color: var(--basic-black);
}

.input-item:link {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  color: var(--pale-grey) opacity: 0.5;
  background-color: var(--basic-white);
  border: 2px solid var(--border-light-grey);
}

/*В стайлгайде по описанию цвет этого поля в состоянии покоя и ховера одинаковый, но выглядит, как будто ховер чуть темнее! Или у меня глюк? Посмотри, пожалуйста! */

.input-item:hover {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  color: var(--pale-grey) opacity: 0.5;
  background-color: var(--basic-white);
  border: 2px solid var(--border-dark-grey);
}

.input-item:focus {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  background-color: var(--basic-white);
  color: var(--pale-grey);
  border: 2px solid var(--basic-black);
}

.input-item:invalid {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  color: var(--red-medium);
  background-color: var(--basic-white);
  border: 2px solid var(--red-medium);
}

/*А красный крест, что в правом верхнем углу формы, — это, видимо, тоже материал из будущих лекций?*/

.social-icons {
  list-style: none;
}

.social-item {
  color: var(--basic-white);
  background-color: var(--light-grey-socialmedia);
}

/*Не могу понять, какой здесь цвет фона задан в фигме! Написано: "background: linear-gradient(0deg, #E74246, #E74246), #FFFFFF;", но кажется неправильным такое задавать. Но*/

.social-item:hover {
  color: var(--basic-white);
  color: var(--red-medium);
}

.social-item:focus {
  color: var(--basic-white);
  color: var(--red-dark);
}

.social-heading {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  align-items: center;
  color: var(--basic-black);
}

.social-text {
  font-size: 16px;
  line-height: 22px;
  align-items: center;
  color: var(--pale-grey);
}



/* Отсюда — Catalog*/

.header-zone,
.heading-catalog {
  background-color: var (--light-grey-background)
}

/* Как и на главной, не понимаю, как натянуть вышеуказанный фон на всю верхнюю часть страницы, а не только на шапку и заголовок*/

.heading-catalog {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  align-items: center;
  color: var (--basic-black);
}





.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  opacity: 0.3;
}

.breadcrumbs-current {
  color: var(--basic-black);
}

.breadcrumbs a:hover {
  color: var(--basic-black);
  opacity: 0.6;
}

breadcrumbs a:active {
  color: var(--basic-black);
}

.sort-triangles {
  list-style: none;
}

.sortation-decrease {
  /* Я хотела взять треугольники отсюда https://www.cssportal.com/css3-shapes/ , но оказалось, что по критериям проекта нам запрещено использовать селекторы-ID. Тогда как^ вставлю картинкой SVG? */
}

.sortation-increase {

  /* То же, что и коммент выше */
}

.filter ul {
  list-style: none;
  font-size: 16px;
  line-height: 19px;
}

.price-range {
  background-color: var(--light-grey-background);
}

.word-from,
.word-to {
  font-size: 16px;
  line-height: 22px;
  align-items: center;
  text-transform: uppercase;
}

.number-from,
.number-two {
  font-size: 16px;
  line-height: 22px;
  align-items: center;
  text-transform: uppercase;
  background-color: var(--light-grey-background);
}

.radio-icon:link,
.radio-option:link,
.checkbox-icon:link,
.checkbox-option:link {
  background-color: var(--dark-grey);
  opacity: 0.4;
  /* "Состояние покоя — это :link ?*/
}

.radio-icon:hover,
.radio-option:hover,
.checkbox-icon:hover,
.checkbox-option:hover {
  background-color: var(--dark-grey);
}

.radio-icon:disabled,
.radio-option:disabled,
.checkbox-icon:disabled,
.checkbox-option:disabled {
  background-color: var(--dark-grey);
  opacity: 0.1;
}

/* Не знаю, правильный вариант с :disabled. */

.button.button-grey {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
  background-color: var(--light-grey-background);
}

.catalog-items {
  list-style: none;
}

.catalog-item {
  background-color: var(--light-grey-background);
}

.catalog-item-description {
  font-size: 16px;
  line-height: 18px;
  color: var(--text-header-grey);
}

.catalog-item-header:link {
  background-color: var(--dark-grey);
  opacity: 0.12;
}

.catalog-item-header:hover {
  background-color: var(--dark-grey);
}

.catalog-item-name:hover {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--red-light);
}

.catalog-item-name:active {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  opacity: 0.3;
}

.catalog-item-button:hover {
  background-color: var(--red-medium);
}

.catalog-item-button:active {
  background-color: var(--red-dark);
}

.pagination-list {
  list-style: none;
}

.pagination-item: /* Какой псевдокласс надо использовать для состояния "активного пункта?*/ {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
  background-color:
    /* Не понимаю по макету, какой здесь цвет фона. */
    border: 3px solid var(--another-grey);
}

.pagination-item:link {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
  background-color: var(--light-grey-background)
    border: none;
}

.pagination-item:active {
  font-weight: 500;
font-size: 16px;
line-height: 18px;
color: var(--basic-black);
opacity: 0.3;
background-color: var(--one-more-grey);
} /* :active, как я поняла из интеркурсов, используется для состояния "нажатости" */
